<!--コメント一覧-->
<div>
  <% bucket_list.comments.each do |c| %>
    <div>
      <%= image_tag c.user.get_profile_image(80,80) %>
      <%= c.comment %>
      <% if c.user == current_user %>
        <%= link_to "削除", bucket_list_comment_path(c.bucket_list, c), method: :delete, remote: true %>
      <% end %>
    </div>
    <div>
      <%= link_to c.user.name, user_path(c.user) %>
    </div>
  <% end %>
</div>