<table class="table">
  <tr>
    <th>
      title
    </th>
  </tr>
  <% @results.each do |result| %>
    <tr>
      <% if params[:bg_id].blank? %>
        <td>
          id: <%= result[:id] %>
        </td>
        <td>
          value: <%= result[:value] %>
        </td>
      <% else %>
        <td>
          <%= result %>
        </td>
      <% end %>
    </tr>
  <% end %>

</table>

<%#= @results %>