
  <% if user_signed_in? %>
    <div class="col-6 offset-md-3">
      <!--検索フォーム-->
      <div>
        <%= form_with url: search_searches_path, local: true, method: :get, class: "row" do |f| %>
          <h3>『遊んだ』『遊びたい』ボードゲームを検索</h3>
          <div class="input-group">
            <div class="col-9">
              <%= f.text_field :word, class: "form-control", :placeholder => "例：カタン" %>
            </div>
            <span class="col-auto ps-0">
              <%= f.submit "検索", class: "input-group-text btn-success px-4" %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="col-12">
      <h4 class="text-center">ようこそ、BG録へ！</h4>
      <p class="text-center">
        ボードゲームを遊んだ記録をつけたり、</br>
        ボードゲームを遊ぶ相手を探しましょう！
      </p>
    </div>
  <% end %>


