<% if user_signed_in? %>
  <div class="my-5"></div>
  <div class="my-4"></div>
  <div class="col-md-6 offset-md-3">
    <!--検索フォーム-->
    <div>
      <p>まずは遊んだゲーム、遊びたいゲームを探そう</p>
      <%= form_with url: search_searches_path, local: true, method: :get do |f| %>
        <div class="input-group">
          <div  class="col-md-11">
            <%= f.text_field :word, class: "form-control", :placeholder => "例：カタン" %>
          </div>
          <span class="col-md-1">
            <%= f.submit "検索", class: "input-group-text btn-success" %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="col-12">
    <div class="py-4"></div>
    <div class="my-5"></div>
    <h3 class="text-center">ようこそ、BG録へ！</h3>
    <p class="text-center pt-3">
      ボードゲームを遊んだ記録をつけたり、</br>
      ボードゲームを遊ぶ相手を探しましょう！
    </p>
    <div class="my-5 pt-3"></div>
    <div class="py-5"></div>
  </div>
<% end %>


