<h3>遊びたいボドゲ</h3>

<div class="col-12">
  <div class="col-6">
    <table class="table">
      <tr>
        <%= render "bucket_data", data: @bucket_list %>
      </tr>
    </table>
  </div>
   <!--コメント一覧＆投稿機能-->
  <div id="comments_index" class="col-6">
    <%= render "public/comments/index", bucket_list: @bucket_list %>
  </div>
  <div id="comments_form" class="col-6">
    <%= render "public/comments/form", bucket_list: @bucket_list, new_comment: @new_comment %>
  </div>
</div>
