<div class='col-12'>
  <h3>ユーザーリスト</h3>
  <table class="table-bordered">
    <% @users.each do |user| %>
      <% if user != current_user %>
        <tr>
          <td>
            <%= link_to user_path(user) do %>
              <%= image_tag user.get_profile_image(100,100) %>
              <%= user.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

