<h3>ユーザーリスト</h3>
<table class="table-bordered">
  <% @users.each do |user| %>
    <tr>
      <td>
        <% if user != current_user %>
          <%= link_to user_path(user) do %>
            <%= image_tag user.get_profile_image(100,100) %>
            <%= user.name %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
