<footer class="bg-dark text-white pt-5 pb-4 mt-auto">
  <div class="container">
    <div class="row no-gutters">
      <!--左側-->
      <div class="col-md-4">
        <p>ボドゲーマーがスコアを記録して内省するサイト</p>
        <a class="navbar-brand" href="/">BG録 BoardGameRecorder</a>
      </div>
      <!--右側-->
      <div class="col-md-8">
        <h6 class="text-white mt-2 mb-3">Link</h6>
        <ul class="p-0 list-unstyled">
          <li>
            <a href="" title="About" class="text-white-50">会社概要(今はない)</a>
          </li>
          <li>
            <a href="" title="License informations" class="text-white-50">プライバシーポリシー(ポリシーもない)</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
